include partials/header
div.main-login
        div.login
                header
                        h5 Welcome Back !
                        p You can reset your password with your email address.
        div.login-content
                form(action="/auth/forgot-password" method="POST")
                        ul 
                            li 
                                label.user-title(for="name") Email: 
                                input(type="text" name="email" id="email" required) 

                            li
                                button(type="submit") Send Message
