include partials/header

div.container
                        div#main
                            div.sidebar-left 
                                div.widget-info
                                    h6 Site Contents
                                    nav
                                        ul 
                                            li 
                                                <i class="fa-solid fa-house"></i>
                                                a(href='/') Home 
                                            li 
                                                <i class="fa-solid fa-tag"></i>
                                                a(href='/tags') Tags 
                                            li 
                                                <i class="fa-brands fa-bandcamp"></i>
                                                a(href='/post') Posts 
                                    hr


                                div.widget-tags
                                
                                    include widgetTags  

                                    h3 Developer:
                                    ul 
                                        li 
                                            a(href='#')  
                                                <i class="fa-solid fa-copyright"></i>  2023 / Gökhan ILERI
                    
                            //block content
                            include post



